body {
    background-image: url('../IMG/fondoazul.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .navbar {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin-top: 5px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .item {
    float: left;
  }
  
 .hoverA{
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 50px;
    height: 20px;
  }
  
.hoverA:hover {
    background-color: #0077c1;
  }
  
  #firstItem {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-right: 80px;
    padding-left: 80px;
  }

  #lastItem{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-right: 80px;
    padding-left: 80px;
  }
  
  h1{
  color: #0077c1;
  }

  #contenedorJuego{
    margin-top: 65px;
    height: 420px;
    width: 750px;
    background-color: #333;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  

  #botonIniciar{
   
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;

    background-color: #0077c1;
    font-size: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50px;
    margin: auto;
  }

  #botonIniciar:hover {
    background-color: black;
    color: white;
  }


#objetoClick{
  
  display: none;
  width: 75px;
  height: 75px;
  position: absolute;
  opacity: 0;
  transition: .2s all;
}

#imgClick{
 
  width: 75px;
  height: 75px;
  
}
 


#mostrarSaldo{
  display: none;
}






  


  